body{
    background-color: #fa969e;
}

.video{
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 30px;
    padding: 3px 3px 3px 3px;
    background-color: aquamarine;
}

header{
    margin-bottom: 61px;
}
.logo{
    height: 100px;
    width: 100px;
    position: relative;
    margin-bottom: 0;
    float: left;
}

header h1{
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    position: relative;
    top: 18px;
    left: 10px;
}
